<h1>individual post</h1>

<p><%= post.text %></p>

<form action="/<%= currentUser.username %>/post/<%= post._id %>?_method=DELETE" method="POST">
    <button>Click here to delete this post</button>
</form>
