<%- include ('./partials/header') %>
<h1>This is the home page</h1>

<% if(currentUser){ %>
    <p>Go to your profile <a href="/<%= currentUser.username %>">Here</a></p>
<% } %>

<%- include ('./partials/footer')  %>