<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" type="text/css"> 
    <link rel="stylesheet" href="/stylesheets/landing.css" type="text/css">

    <title>Blacktop Blog</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-md py-0">
        <a href="/" class="navbar-brand"><i class="fas fa-road"></i>Blacktop Blog</a>
    </nav>
    <section class="container-fluid px-0 whole">
        <div class="row align-items-center whole">
            <div class="col-lg-6 order-1 align-items-center">
                <div id="headingGroup" class="centered">
                    <h2 class="headings"><i class="fas fa-users"></i> See what people are saying.</h2>
                    <h2 class="headings"><i class="far fa-clock"></i> Keep up to date.</h2>
                    <h2 class="headings"><i class="far fa-comments"></i> Join the conversation.</h2>
                </div>
            </div>
            <div class="borders col-lg-6 align-items-center order-2 centered">
                <h2 class="talk">See what all the talk is about.</h2>
                <h4>Join today.</h4>
                <a class="btn button register" href="/register">Sign up</a>
                <a class="btn button sign-up " href="/login">Log in</a>
            </div>
        </div>
    </section>
</body>
</html>


