<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" type="text/css"> 
    <link rel="stylesheet" href="/stylesheets/landing.css" type="text/css">

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Blacktop Blog</title>
</head>
<body>
    
    <div class="landing-div">
        <nav class="navbar landing-nav fixed-top">
            <a href="/" class="navbar-brand"><i class="fas fa-road"></i>Blacktop Blog</a>
        </nav>
        <div class="left-side">
            <div class="left-side-content">
                <h2 class="headings"><i class="landing-icon fas fa-users"></i> See what people are saying.</h2>
                <h2 class="headings"><i class="landing-icon far fa-clock"></i> Keep up to date.</h2>
                <h2 class="headings"><i class="landing-icon far fa-comments"></i> Join the conversation.</h2>
            </div>
        </div>
        <div class="right-side">
            <div class="right-side-content">
                <h2 class="talk">See what all the talk is about.</h2>
                <h4 class="join">Join today.</h4>
                <div class="landing-btn-div">
                    <a class="btn  btn-register land-btn" href="/register">Sign up</a>
                    <a class="btn  btn-sign-in  land-btn" href="/login">Log in</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


