<%- include ('./partials/header') %>
<div class="row need-more-space">
    <div class="col-md-4"></div>
    <div class="col-md-4 form content-section">
        <form action="/login" method="POST">
            <div class="container">
                <h2 class="register">Log In To Your Account</h2>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control control" name="username"  placeholder="Your Username">
                </div>
                <div class="form-group">
                    <label for="passsword">Passsword</label>
                    <input type="password" class="form-control control" name="password" placeholder="password">
                </div>
                <button class="btn btn-primary">Log In  <i class="fas fa-sign-in-alt"></i></button>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
<%- include ('./partials/footer')  %>