body {
    background: #0e0e0e;
    color: #a5a5a5;
}

.light {
    color: white;
}
.no-padding {
    padding: 0;
}

.black {
    margin-bottom: 0;
}

.row {
    height: auto;
    margin: 0;
}

.media {
    margin-top: 0;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
   width: 100%;
}

.newcolors {
    background: #171717;
}

.greenish {
    border-top: 1px solid #4DFF31;
}

.orange {
    border-bottom: 1px solid #FF5D00;
}

.spaced {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.yellow {
    border-bottom: 1px solid #FFDD00;
}

.purple {
    border-bottom: 1px solid #7800FF;
}

.col-md-4 {
    padding: 0;
}

.form-control {
    width: 50%;
    background: #171717;
    border: 1px solid #212121;
}

.bright {
    border-bottom: 1px solid #19B1FD;
    margin: 0;
}

.pinkish {
    border-bottom: 1px solid #FF4242;
}