body {
    background: #171717;
    color: #D0D0D0;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Lato', sans-serif;
}
.logo {
    font-size: 25px;
}
.thumbnail {
    border: 1px solid #19B1FD; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 100px; /* Set a small width */
}
.picture {
    border: 1px solid #19B1FD;
    padding: 5px;
    max-width: 90%;
}
.card-picture {
    height: 300px;
}
.comment-thumbnail {
    width: 50px;
}

.post-title {
    color: #B4B4B4;

}
.post-title:hover{
    color: white;
    text-decoration: none;
} 
.post-title:focus {
    color: white;
    text-decoration: none;
}

.one-post-cont {
    margin-top: 2em;
}

.profile-top {
    background:#171717;
    padding: 2rem 1rem;
    margin: 0;
}

.content-back {
    background: #171717;
}

.navbar-custom {
    background: #252527;
    border-bottom: 2px solid #19B1FD;
}

.content-section {
    background: #252527;
    
    border-top: 2px solid #19B1FD;
    border-left: 2px solid #19B1FD;
    border-bottom: 2px solid #636363;
    border-right: 2px solid #636363;
    /* border-left: 2px solid #868686;
    border-right: 2px solid #868686; */
    /* border-bottom: 1px solid #1CFC1C; */
    /* border-right: 1px solid #C85757; */
    /* border-left: 2px solid #FF8D38; */
    
}

.profile {
    padding: 2em;
}

.postcard {
    margin-bottom: 15px;
    padding: 1em;
}

/* new styles */

/* padding for top of posts box */
.space-top {
    padding-top: 2em;
}

a :focus {
    color: #19B1FD;
    background: #0e0e0e;
}

 /*  */
.no-padding {
    padding: 0;
}

.black {
    margin-bottom: 0;
}

.row {
    height: auto;
    margin: 0;
}


#sidebar {
   width: 100%;
}

.form-control {
    width: 50%;
    background: #171717;
    border: 2px solid #212121;
}


/* New navbar styles, remove li dot */
.nav-item .nav-link .nav-item:hover {
    color: #0e0e0e;
    background-color: #a5a5a5;
}

/* navbar link colors */
.light {
    color: #D0D0D0;
    font-size: 16px;
    position: relative;
    display: block;
    margin:0;
    padding-right: 30px;
    padding-left: 30px;
}
#brand {
    color: #D0D0D0;
    padding: 10px;
}
#brand:hover{
    color: #D0D0D0;
    background: #171717;
}
#brand:focus {
    color: #D0D0D0;
    background: #171717;
}

/* remove li dot */
.nav-item {
    list-style-type: none;
}


/* hover bug */
.light:focus {
    background-color: #171717;
    color:#D0D0D0;
    text-decoration: none;
}
.light:hover{
    background-color: #171717;
    color: #D0D0D0;
    text-decoration: none;
}

/* take away padding from right side of navbar */
.l-space {
    padding:0;
}

.posted {
    border-bottom: 1px solid #636363;
}

/* form classes */
.form {
    margin-top: 2em;
    background: #252527;
    padding: 4em;
}

.control{
    width: 100%;
    color: white;
}

.register {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #19B1FD;
}

.heading2 {
    margin-bottom: 20px;
}

.dropdown-toggle {
    float: right;
    background: #252527;
    border: none;
    font-size: 20px;
}

.float {
    float: right;
}

.dark {
    background: #252527;
    border: none;
}
.partial-post {
    padding-top: 1em;
    padding-bottom: 6em;
    font-size: 18px;
}
.no-pad {
    padding: 0;
}
.comments {
    padding-top: 1em;
    border-top: 2px solid #19B1FD;
}

.username-display {
    font-size: 14px;
}

.new-comment {
    border-top: 2px solid #19B1FD;
    padding-top: 2em;
    padding-bottom: 2em;
}

.need-space {
    margin-top: 4em;
}

.need-more-space {
    margin-top: 7em;
}

.edit-post {
    float: left;
}

.title {
    padding: 1em;
    text-align: center;
}

.latest {
    padding-bottom: 10px;
    border-bottom: 2px solid #636363;
    margin-bottom: 1em;
}