body {
    background:#171717;
    color: #a5a5a5;
}

.profile-top {
    background:#171717;
    padding: 2rem 1rem;
}

.content-section {
    background:  #323941;
    
    border: 1px solid white;
    
}

.profile {
    padding: 2em;
}

.postcard {
    margin-bottom: 10px;
    padding: 1em;
}

/* new styles */

/* padding for top of posts box */
.space-top {
    padding-top: 2em;
}



a :focus {
    color: #19B1FD;
    background: #0e0e0e;
}

 /*  */
.no-padding {
    padding: 0;
}

.black {
    margin-bottom: 0;
}

.row {
    height: auto;
    margin: 0;
}

.media {
    margin-top: 0;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
   width: 100%;
}

.newcolors {
    background:  #323941;
}

.greenish {
    border-top: 1px solid #4DFF31;
}

.orange {
    border-bottom: 1px solid #FF5D00;
}

.spaced {
    margin: 0;
    padding-top: 1em;
    padding-bottom: 1em;
}

.yellow {
    border-bottom: 1px solid #FFDD00;
}

.purple {
    border-bottom: 1px solid #7800FF;
}

.col-md-4 {
    padding: 0;
}

.form-control {
    width: 50%;
    background: #171717;
    border: 1px solid #212121;
}

.bright {
    border-bottom: 1px solid #19B1FD;
    margin: 0;
}

.pinkish {
    border-bottom: 1px solid #FF4242;
}

/* New navbar styles, remove li dot */
.nav-item .nav-link .nav-item:hover {
    color: #0e0e0e;
    background-color: #a5a5a5;
}

/* navbar link colors */
.light {
    color: #a5a5a5;
    background: #0e0e0e;
    position: relative;
    display: block;
    margin:0;
    padding-right: 20px;
    padding-left: 20px;
    

}

/* remove li dot */
.nav-item {
    list-style-type: none;
}


/* hover bug */
.light:focus {
    background-color: #171717;
    color:#a5a5a5;
    text-decoration: none;
}
.light:hover{
    background-color: #171717;
    color: #a5a5a5;
    text-decoration: none;
}

/* take away padding from right side of navbar */
.l-space {
    padding:0;
}



